NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=https://www.firstlisten.net
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ACCESS_TOKEN=
SUPABASE_PROJECT_REF=
SUPABASE_DB_PASSWORD=
FOUNDER_ONE_SUPER_ADMIN_EMAIL=
RESEND_API_KEY=
AUTH_SENDER_EMAIL=auth@firstlisten.net
AUTH_SENDER_NAME=First Listen
ADMIN_CARLOS_EMAIL=
ADMIN_ALBERTA_EMAIL=
ADMIN_CARLOSJR_EMAIL=
ADMIN_DAVID_EMAIL=
